# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs / coverage
logs/
*.log
npm-debug.log*
coverage/
.nyc_output/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Misc
tmp/
temp/
.turbo/
